@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility emphasis-text {
  @apply font-bold tracking-tight capitalize bg-gradient-to-r from-indigo-600 to-purple-600 text-transparent bg-clip-text;
}

@utility std-padding-x {
  @apply sm:px-16 px-4;
}

@utility small-caps {
  font-variant: all-small-caps;
}


/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
